<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"     
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
		xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd   
		http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
	
	<dubbo:application name="tpp-account" />
	<!-- 配置dubbo的并发数 -->
	<dubbo:protocol name="${dubbo.protocol.name}" threads="${dubbo.protocol.threads}"/>
  	<dubbo:registry protocol="zookeeper" address="${dubbo.registry.address}"/>
	
	<bean id="accountServiceImplProvider" class="com.zendaimoney.thirdpp.account.sei.HandleAccountService"></bean>
	<dubbo:service interface="com.zendaimoney.thirdpp.account.pub.service.IHandleAccountService" ref="accountServiceImplProvider" retries="0" />
	
</beans>