<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
            http://www.springframework.org/schema/beans/spring-beans.xsd  
            http://code.alibabatech.com/schema/dubbo  
            http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<dubbo:application name="${dubbo.application.name}" />

	<!-- 使用zookeeper注册中心暴露服务地址 -->
	<dubbo:registry id="registry" protocol="zookeeper"
		address="${dubbo.registry.address}" />

	<!-- 配置dubbo的并发数 -->
	<dubbo:protocol name="${dubbo.protocol.name}" port="${dubbo.run.port}"
		threads="${dubbo.protocol.threads}" accepts="${dubbo.protocol.accepts}"/>

	<dubbo:service interface="com.zendaimoney.thirdpp.route.pub.service.IRouteService" ref="routeService" retries="0"/>
</beans>  