<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zdmoney.manager.mapper.TppChannelTRequestMapper" >
  <resultMap id="BaseResultMap" type="com.zdmoney.manager.models.TppChannelTRequest" >
    <result column="REQ_ID" property="reqId" jdbcType="VARCHAR" />
    <result column="TRANSFER_FLOW" property="transferFlow" jdbcType="VARCHAR" />
    <result column="PAY_TRANS_FLOW" property="payTransFlow" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="PAY_SYS_NO" property="paySysNo" jdbcType="VARCHAR" />
    <result column="BIZ_TYPE" property="bizType" jdbcType="VARCHAR" />
    <result column="BIZ_SYS_NO" property="bizSysNo" jdbcType="VARCHAR" />
    <result column="SPARE1" property="spare1" jdbcType="VARCHAR" />
    <result column="SPARE2" property="spare2" jdbcType="VARCHAR" />
    <result column="FAIL_REASON" property="failReason" jdbcType="VARCHAR" />
    <result column="INFO_CATEGORY_CODE" property="infoCategoryCode" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.zdmoney.manager.models.TppChannelTRequest" >
    insert into TPP_CHANNEL_T_REQUEST (REQ_ID, TRANSFER_FLOW, PAY_TRANS_FLOW, 
      CREATE_TIME, UPDATE_TIME, STATUS, 
      PAY_SYS_NO, BIZ_TYPE, BIZ_SYS_NO, 
      SPARE1, SPARE2, FAIL_REASON, 
      INFO_CATEGORY_CODE)
    values (#{reqId,jdbcType=VARCHAR}, #{transferFlow,jdbcType=VARCHAR}, #{payTransFlow,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{status,jdbcType=VARCHAR}, 
      #{paySysNo,jdbcType=VARCHAR}, #{bizType,jdbcType=VARCHAR}, #{bizSysNo,jdbcType=VARCHAR}, 
      #{spare1,jdbcType=VARCHAR}, #{spare2,jdbcType=VARCHAR}, #{failReason,jdbcType=VARCHAR}, 
      #{infoCategoryCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zdmoney.manager.models.TppChannelTRequest" >
    insert into TPP_CHANNEL_T_REQUEST
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="reqId != null" >
        REQ_ID,
      </if>
      <if test="transferFlow != null" >
        TRANSFER_FLOW,
      </if>
      <if test="payTransFlow != null" >
        PAY_TRANS_FLOW,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="paySysNo != null" >
        PAY_SYS_NO,
      </if>
      <if test="bizType != null" >
        BIZ_TYPE,
      </if>
      <if test="bizSysNo != null" >
        BIZ_SYS_NO,
      </if>
      <if test="spare1 != null" >
        SPARE1,
      </if>
      <if test="spare2 != null" >
        SPARE2,
      </if>
      <if test="failReason != null" >
        FAIL_REASON,
      </if>
      <if test="infoCategoryCode != null" >
        INFO_CATEGORY_CODE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="reqId != null" >
        #{reqId,jdbcType=VARCHAR},
      </if>
      <if test="transferFlow != null" >
        #{transferFlow,jdbcType=VARCHAR},
      </if>
      <if test="payTransFlow != null" >
        #{payTransFlow,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="paySysNo != null" >
        #{paySysNo,jdbcType=VARCHAR},
      </if>
      <if test="bizType != null" >
        #{bizType,jdbcType=VARCHAR},
      </if>
      <if test="bizSysNo != null" >
        #{bizSysNo,jdbcType=VARCHAR},
      </if>
      <if test="spare1 != null" >
        #{spare1,jdbcType=VARCHAR},
      </if>
      <if test="spare2 != null" >
        #{spare2,jdbcType=VARCHAR},
      </if>
      <if test="failReason != null" >
        #{failReason,jdbcType=VARCHAR},
      </if>
      <if test="infoCategoryCode != null" >
        #{infoCategoryCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <sql id="Channel_request_Column_List">
  	REQ_ID,TRANSFER_FLOW,PAY_TRANS_FLOW,CREATE_TIME,UPDATE_TIME,STATUS,PAY_SYS_NO,BIZ_TYPE,BIZ_SYS_NO,SPARE1,SPARE2,FAIL_REASON,INFO_CATEGORY_CODE
  </sql>
  
  <!--用于模糊查询-->
     <select id="select_tppChannelTRequestList" resultType="java.util.HashMap">
        SELECT * FROM (
		SELECT X.*,ROWNUM RN, 
		(select app_name from tpp_sys_app where tpp_sys_app.app_code=x.biz_sys_no) APP_NAME, 
		(select app_name from tpp_sys_app where tpp_sys_app.app_code=x.biz_sys_no) BIZ_SYS_NAME,
		(select DIC_NAME from dd_t_dictionary t where t.dic_type='3' and t.dic_code=X.pay_sys_no) pay_sys_name, 
		(select INFO_CATEGORY_NAME from TPP_SYS_T_INFO_CATEGORY t where t.INFO_CATEGORY_CODE=x.INFO_CATEGORY_CODE) INFO_CATEGORY_NAME 
		 FROM (
	     	select * from (
	          SELECT  <include refid="Channel_request_Column_List"/>  
			  FROM TPP_CHANNEL_T_REQUEST union all select <include refid="Channel_request_Column_List"/> from TPP_CHANNEL_T_REQUEST_HIS 
			)
			WHERE 1=1 
			<if test="SEARCH_BEGIN_DATE != null and SEARCH_BEGIN_DATE != ''">
		    	and create_time >= to_date(#{SEARCH_BEGIN_DATE},'yyyy-mm-dd hh24:mi:ss') 
		    </if>
		    <if test="SEARCH_END_DATE != null and SEARCH_END_DATE != ''">
		    	and create_time <![CDATA[<=]]> to_date(#{SEARCH_END_DATE},'yyyy-mm-dd hh24:mi:ss')
		    </if>
		    <if test="SEARCH_TRANSFER_FLOW != null and SEARCH_TRANSFER_FLOW != ''">
		    	and transfer_flow = #{SEARCH_TRANSFER_FLOW}
		    </if>
		    <if test="SEARCH_STATUS != null and SEARCH_STATUS != ''">
		    	and status = #{SEARCH_STATUS}
		    </if>
		    <if test="SEARCH_PAY_SYS_NO != null and SEARCH_PAY_SYS_NO != ''">
		    	and pay_sys_no = #{SEARCH_PAY_SYS_NO}
		    </if>
		    <if test="SEARCH_BIZ_SYS_NO != null and SEARCH_BIZ_SYS_NO != ''">
		    	and biz_sys_no = #{SEARCH_BIZ_SYS_NO}
		    </if>
		    <if test="SEARCH_REQ_ID != null and SEARCH_REQ_ID != ''">
		    	and req_id = #{SEARCH_REQ_ID}
		    </if>
		     <if test="SEARCH_BIZ_TYPE != null and SEARCH_BIZ_TYPE != ''">
		    	and BIZ_TYPE = #{SEARCH_BIZ_TYPE}
		    </if>
		    <if test="APPIDS != null and APPIDS != ''">
		    	and biz_sys_no in 
		    	<foreach item="item" index="index" collection="APPIDS" 
                         open="(" separator="," close=")">
                        #{item}
                </foreach>
		    </if>
			<if test="orderStr != null">
		  	 	 ${orderStr} 
		  	</if>
		<![CDATA[
			 ) X WHERE ROWNUM  <= #{rowEnd}
			) WHERE RN >= #{rowBegin}
		]]>
     </select>
     
     <!--用于查询总数-->
     <select id="select_tppChannelTRequestList_count" resultType="int">
			SELECT  count(REQ_ID) from (
		    	select <include refid="Channel_request_Column_List"/> FROM TPP_CHANNEL_T_REQUEST
		    	union all select <include refid="Channel_request_Column_List"/> FROM TPP_CHANNEL_T_REQUEST_HIS 
		    	)
			WHERE 1=1 
			<if test="SEARCH_BEGIN_DATE != null and SEARCH_BEGIN_DATE != ''">
		    	and create_time >= to_date(#{SEARCH_BEGIN_DATE},'yyyy-mm-dd hh24:mi:ss') 
		    </if>
		    <if test="SEARCH_END_DATE != null and SEARCH_END_DATE != ''">
		    	and create_time <![CDATA[<=]]> to_date(#{SEARCH_END_DATE},'yyyy-mm-dd hh24:mi:ss')
		    </if>
		    <if test="SEARCH_TRANSFER_FLOW != null and SEARCH_TRANSFER_FLOW != ''">
		    	and transfer_flow = #{SEARCH_TRANSFER_FLOW}
		    </if>
		    <if test="SEARCH_STATUS != null and SEARCH_STATUS != ''">
		    	and status = #{SEARCH_STATUS}
		    </if>
		    <if test="SEARCH_PAY_SYS_NO != null and SEARCH_PAY_SYS_NO != ''">
		    	and pay_sys_no = #{SEARCH_PAY_SYS_NO}
		    </if>
		    <if test="SEARCH_BIZ_SYS_NO != null and SEARCH_BIZ_SYS_NO != ''">
		    	and biz_sys_no = #{SEARCH_BIZ_SYS_NO}
		    </if>
		     <if test="SEARCH_REQ_ID != null and SEARCH_REQ_ID != ''">
		    	and req_id = #{SEARCH_REQ_ID}
		    </if>
		    <if test="SEARCH_BIZ_TYPE != null and SEARCH_BIZ_TYPE != ''">
		    	and BIZ_TYPE = #{SEARCH_BIZ_TYPE}
		    </if>
		    <if test="APPIDS != null and APPIDS != ''">
		    	and biz_sys_no in 
		    	<foreach item="item" index="index" collection="APPIDS" 
                         open="(" separator="," close=")">
                        #{item}
                </foreach>
		    </if>
	 </select>
  
  
  
  	<!--用于模糊查询-->
     <select id="select_tppChannelTRequestByTransferFlow" resultType="java.util.HashMap">
		SELECT X.*, 
		(select app_name from tpp_sys_app where tpp_sys_app.app_code=x.biz_sys_no) APP_NAME, 
		(select DIC_NAME from dd_t_dictionary t where t.dic_type='3' and t.dic_code=X.pay_sys_no) pay_sys_name, 
		(select app_name from tpp_sys_app where tpp_sys_app.app_code=x.biz_sys_no) BIZ_SYS_NAME,
		(select INFO_CATEGORY_NAME from TPP_SYS_T_INFO_CATEGORY t where t.INFO_CATEGORY_CODE=x.INFO_CATEGORY_CODE) INFO_CATEGORY_NAME 
		 FROM (
	     	select * from (
	          SELECT  <include refid="Channel_request_Column_List"/>  
			  FROM TPP_CHANNEL_T_REQUEST union all select <include refid="Channel_request_Column_List"/> from TPP_CHANNEL_T_REQUEST_HIS 
			)
			WHERE 1=1 
		    	and transfer_flow = #{SEARCH_TRANSFER_FLOW}
			 ) X
     </select>
     
     <select id="select_tppChannelTradeResultByReqId" resultType="java.util.HashMap">
		SELECT X.*, 
		(select app_name from tpp_sys_app where tpp_sys_app.app_code=x.biz_sys_no) APP_NAME, 
		(select DIC_NAME from dd_t_dictionary t where t.dic_type='3' and t.dic_code=X.pay_sys_no) pay_sys_name, 
		(select app_name from tpp_sys_app where tpp_sys_app.app_code=x.biz_sys_no) BIZ_SYS_NAME,
		(select INFO_CATEGORY_NAME from TPP_SYS_T_INFO_CATEGORY t where t.INFO_CATEGORY_CODE=x.INFO_CATEGORY_CODE) INFO_CATEGORY_NAME 
		 FROM (
	     	select * from (
	          SELECT  <include refid="Channel_request_Column_List"/>  
			  FROM TPP_CHANNEL_T_REQUEST union all select <include refid="Channel_request_Column_List"/> from TPP_CHANNEL_T_REQUEST_HIS 
			)
			WHERE 1=1 
		    	and req_id = #{SEARCH_REQ_ID}
			 ) X
     </select>
     
</mapper>