<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zdmoney.manager.mapper.TppChannelTradeResultMapper" >
  <resultMap id="BaseResultMap" type="com.zdmoney.manager.models.TppChannelTradeResult" >
    <result column="ID" property="id" jdbcType="DECIMAL" />
    <result column="PAY_SYS_NO" property="paySysNo" jdbcType="VARCHAR" />
    <result column="TRANSFER_FLOW" property="transferFlow" jdbcType="VARCHAR" />
    <result column="PAY_TRANS_FLOW" property="payTransFlow" jdbcType="VARCHAR" />
    <result column="BIZ_TYPE" property="bizType" jdbcType="VARCHAR" />
    <result column="TRANS_REP_CODE" property="transRepCode" jdbcType="VARCHAR" />
    <result column="TRANS_REP_INFO" property="transRepInfo" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="REQ_ID" property="reqId" jdbcType="VARCHAR" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <insert id="insert" parameterType="com.zdmoney.manager.models.TppChannelTradeResult" >
    insert into TPP_CHANNEL_TRADE_RESULT (ID, PAY_SYS_NO, TRANSFER_FLOW, 
      PAY_TRANS_FLOW, BIZ_TYPE, TRANS_REP_CODE, 
      TRANS_REP_INFO, STATUS, CREATE_TIME, 
      REQ_ID, UPDATE_TIME)
    values (#{id,jdbcType=DECIMAL}, #{paySysNo,jdbcType=VARCHAR}, #{transferFlow,jdbcType=VARCHAR}, 
      #{payTransFlow,jdbcType=VARCHAR}, #{bizType,jdbcType=VARCHAR}, #{transRepCode,jdbcType=VARCHAR}, 
      #{transRepInfo,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{reqId,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zdmoney.manager.models.TppChannelTradeResult" >
    insert into TPP_CHANNEL_TRADE_RESULT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="paySysNo != null" >
        PAY_SYS_NO,
      </if>
      <if test="transferFlow != null" >
        TRANSFER_FLOW,
      </if>
      <if test="payTransFlow != null" >
        PAY_TRANS_FLOW,
      </if>
      <if test="bizType != null" >
        BIZ_TYPE,
      </if>
      <if test="transRepCode != null" >
        TRANS_REP_CODE,
      </if>
      <if test="transRepInfo != null" >
        TRANS_REP_INFO,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="reqId != null" >
        REQ_ID,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="paySysNo != null" >
        #{paySysNo,jdbcType=VARCHAR},
      </if>
      <if test="transferFlow != null" >
        #{transferFlow,jdbcType=VARCHAR},
      </if>
      <if test="payTransFlow != null" >
        #{payTransFlow,jdbcType=VARCHAR},
      </if>
      <if test="bizType != null" >
        #{bizType,jdbcType=VARCHAR},
      </if>
      <if test="transRepCode != null" >
        #{transRepCode,jdbcType=VARCHAR},
      </if>
      <if test="transRepInfo != null" >
        #{transRepInfo,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reqId != null" >
        #{reqId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  <sql id="Channel_tradeResult_Column_List">
  	ID,PAY_SYS_NO,TRANSFER_FLOW,PAY_TRANS_FLOW,BIZ_TYPE,TRANS_REP_CODE,TRANS_REP_INFO,STATUS,CREATE_TIME,REQ_ID,UPDATE_TIME
  </sql>
  
  <!--用于模糊查询-->
     <select id="select_tppChannelTradeResultList"  resultType="java.util.HashMap">
      SELECT * FROM (
		SELECT X.*,ROWNUM RN，(select DIC_NAME from dd_t_dictionary t where t.dic_type='3' and t.dic_code=X.pay_sys_no) pay_sys_name FROM (
			select * from (
          SELECT <include refid="Channel_tradeResult_Column_List"/> 
		  FROM TPP_CHANNEL_TRADE_RESULT union all SELECT <include refid="Channel_tradeResult_Column_List"/> 
		  FROM TPP_CHANNEL_TRADE_RESULT_HIS)
		  WHERE 1=1 
		  <if test="SEARCH_TRADE_FLOW != null and SEARCH_TRADE_FLOW != ''">
		  	and TRANSFER_FLOW = #{SEARCH_TRADE_FLOW}
		  </if>
		  <if test="orderStr != null">
		  	 	 ${orderStr} 
		  	</if>
		  <![CDATA[
			 ) X WHERE ROWNUM  <= #{rowEnd}
			) WHERE RN >= #{rowBegin}
		]]>
     </select>
     
     <!--用于查询总数-->
     <select id="select_tppChannelTradeResultList_count" resultType="int">
			SELECT  count(ID) from ( 
				select <include refid="Channel_tradeResult_Column_List"/> 
		    FROM TPP_CHANNEL_TRADE_RESULT union all select <include refid="Channel_tradeResult_Column_List"/> 
		    FROM TPP_CHANNEL_TRADE_RESULT_HIS
		    )
			WHERE 1=1    
			<if test="SEARCH_TRADE_FLOW != null and SEARCH_TRADE_FLOW != ''">
		  		and TRANSFER_FLOW = #{SEARCH_TRADE_FLOW}
		  	</if>
	 </select>
	 
	 
	 <select id="select_tppChannelTradeResultByTransferFolw"  resultType="java.util.HashMap">
			select * from (
          SELECT <include refid="Channel_tradeResult_Column_List"/> 
		  FROM TPP_CHANNEL_TRADE_RESULT union all SELECT <include refid="Channel_tradeResult_Column_List"/> 
		  FROM TPP_CHANNEL_TRADE_RESULT_HIS)
		  WHERE 1=1 
		  <if test="SEARCH_TRADE_FLOW != null and SEARCH_TRADE_FLOW != ''">
		  	and TRANSFER_FLOW = #{SEARCH_TRADE_FLOW}
		  </if>
		  <if test="SEARCH_REQ_ID != null and SEARCH_REQ_ID != ''">
	  		and REQ_ID =#{SEARCH_REQ_ID}
	  	  </if>
     </select>
</mapper>