<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zdmoney.manager.mapper.TppTradeTCollectTaskMapper" >
  <resultMap id="BaseResultMap" type="com.zdmoney.manager.models.TppTradeTCollectTask" >
    <result column="ID" property="id" jdbcType="DECIMAL" />
    <result column="REQ_ID" property="reqId" jdbcType="VARCHAR" />
    <result column="PAY_SYS_NO" property="paySysNo" jdbcType="VARCHAR" />
    <result column="BIZ_SYS_ACCOUNT_NO" property="bizSysAccountNo" jdbcType="VARCHAR" />
    <result column="ZENGDAI_ACCOUNT_NO" property="zengdaiAccountNo" jdbcType="VARCHAR" />
    <result column="BIZ_SYS_NO" property="bizSysNo" jdbcType="VARCHAR" />
    <result column="RECEIVER_ACCOUNT_NO" property="receiverAccountNo" jdbcType="VARCHAR" />
    <result column="REVEIVER_ACCOUNT_NAME" property="reveiverAccountName" jdbcType="VARCHAR" />
    <result column="PAYER_NAME" property="payerName" jdbcType="VARCHAR" />
    <result column="PAYER_BANK_CARD_NO" property="payerBankCardNo" jdbcType="VARCHAR" />
    <result column="PAYER_BANK_CARD_TYPE" property="payerBankCardType" jdbcType="VARCHAR" />
    <result column="PAYER_ID_TYPE" property="payerIdType" jdbcType="VARCHAR" />
    <result column="PAYER_ID" property="payerId" jdbcType="VARCHAR" />
    <result column="PAYER_BANK_CODE" property="payerBankCode" jdbcType="VARCHAR" />
    <result column="PAYER_SUB_BANK_CODE" property="payerSubBankCode" jdbcType="VARCHAR" />
    <result column="CURRENCY" property="currency" jdbcType="VARCHAR" />
    <result column="AMOUNT" property="amount" jdbcType="DECIMAL" />
    <result column="FEE" property="fee" jdbcType="DECIMAL" />
    <result column="BIZ_REMARK" property="bizRemark" jdbcType="VARCHAR" />
    <result column="BIZ_FLOW" property="bizFlow" jdbcType="VARCHAR" />
    <result column="PRIORITY" property="priority" jdbcType="DECIMAL" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="CREATER" property="creater" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="SEND_THREAD_NAME" property="sendThreadName" jdbcType="VARCHAR" />
    <result column="IS_SEPARATE" property="isSeparate" jdbcType="DECIMAL" />
    <result column="SEPARATE_COUNT" property="separateCount" jdbcType="DECIMAL" />
    <result column="SPARE1" property="spare1" jdbcType="VARCHAR" />
    <result column="SPARE2" property="spare2" jdbcType="VARCHAR" />
    <result column="SEND_NUM" property="sendNum" jdbcType="DECIMAL" />
    <result column="PAYER_ACCOUNT_NO" property="payerAccountNo" jdbcType="VARCHAR" />
    <result column="BIZ_TYPE" property="bizType" jdbcType="VARCHAR" />
    <result column="IS_NEED_PUSH" property="isNeedPush" jdbcType="DECIMAL" />
    <result column="TRADE_STATUS" property="tradeStatus" jdbcType="VARCHAR" />
    <result column="TRADE_RESULT_INFO" property="tradeResultInfo" jdbcType="VARCHAR" />
    <result column="TRADE_SUCCESS_AMOUNT" property="tradeSuccessAmount" jdbcType="DECIMAL" />
    <result column="INFO_CATEGORY_CODE" property="infoCategoryCode" jdbcType="VARCHAR" />
    <result column="IS_NEED_SPILT" property="isNeedSpilt" jdbcType="DECIMAL" />
    
  </resultMap>
  <insert id="insert" parameterType="com.zdmoney.manager.models.TppTradeTCollectTask" >
    insert into TPP_TRADE_T_COLLECT_TASK (ID, REQ_ID, PAY_SYS_NO, 
      BIZ_SYS_ACCOUNT_NO, ZENGDAI_ACCOUNT_NO, BIZ_SYS_NO, 
      RECEIVER_ACCOUNT_NO, REVEIVER_ACCOUNT_NAME, 
      PAYER_NAME, PAYER_BANK_CARD_NO, PAYER_BANK_CARD_TYPE, 
      PAYER_ID_TYPE, PAYER_ID, PAYER_BANK_CODE, 
      PAYER_SUB_BANK_CODE, CURRENCY, AMOUNT, 
      FEE, BIZ_REMARK, BIZ_FLOW, 
      PRIORITY, STATUS, REMARK, 
      CREATER, CREATE_TIME, UPDATE_TIME, 
      SEND_THREAD_NAME, IS_SEPARATE, SEPARATE_COUNT, 
      SPARE1, SPARE2, SEND_NUM, 
      PAYER_ACCOUNT_NO, BIZ_TYPE, IS_NEED_PUSH, 
      TRADE_STATUS, TRADE_RESULT_INFO, TRADE_SUCCESS_AMOUNT, 
      INFO_CATEGORY_CODE)
    values (#{id,jdbcType=DECIMAL}, #{reqId,jdbcType=VARCHAR}, #{paySysNo,jdbcType=VARCHAR}, 
      #{bizSysAccountNo,jdbcType=VARCHAR}, #{zengdaiAccountNo,jdbcType=VARCHAR}, #{bizSysNo,jdbcType=VARCHAR}, 
      #{receiverAccountNo,jdbcType=VARCHAR}, #{reveiverAccountName,jdbcType=VARCHAR}, 
      #{payerName,jdbcType=VARCHAR}, #{payerBankCardNo,jdbcType=VARCHAR}, #{payerBankCardType,jdbcType=VARCHAR}, 
      #{payerIdType,jdbcType=VARCHAR}, #{payerId,jdbcType=VARCHAR}, #{payerBankCode,jdbcType=VARCHAR}, 
      #{payerSubBankCode,jdbcType=VARCHAR}, #{currency,jdbcType=VARCHAR}, #{amount,jdbcType=DECIMAL}, 
      #{fee,jdbcType=DECIMAL}, #{bizRemark,jdbcType=VARCHAR}, #{bizFlow,jdbcType=VARCHAR}, 
      #{priority,jdbcType=DECIMAL}, #{status,jdbcType=DECIMAL}, #{remark,jdbcType=VARCHAR}, 
      #{creater,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{sendThreadName,jdbcType=VARCHAR}, #{isSeparate,jdbcType=DECIMAL}, #{separateCount,jdbcType=DECIMAL}, 
      #{spare1,jdbcType=VARCHAR}, #{spare2,jdbcType=VARCHAR}, #{sendNum,jdbcType=DECIMAL}, 
      #{payerAccountNo,jdbcType=VARCHAR}, #{bizType,jdbcType=VARCHAR}, #{isNeedPush,jdbcType=DECIMAL}, 
      #{tradeStatus,jdbcType=VARCHAR}, #{tradeResultInfo,jdbcType=VARCHAR}, #{tradeSuccessAmount,jdbcType=DECIMAL}, 
      #{infoCategoryCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zdmoney.manager.models.TppTradeTCollectTask" >
    insert into TPP_TRADE_T_COLLECT_TASK
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="reqId != null" >
        REQ_ID,
      </if>
      <if test="paySysNo != null" >
        PAY_SYS_NO,
      </if>
      <if test="bizSysAccountNo != null" >
        BIZ_SYS_ACCOUNT_NO,
      </if>
      <if test="zengdaiAccountNo != null" >
        ZENGDAI_ACCOUNT_NO,
      </if>
      <if test="bizSysNo != null" >
        BIZ_SYS_NO,
      </if>
      <if test="receiverAccountNo != null" >
        RECEIVER_ACCOUNT_NO,
      </if>
      <if test="reveiverAccountName != null" >
        REVEIVER_ACCOUNT_NAME,
      </if>
      <if test="payerName != null" >
        PAYER_NAME,
      </if>
      <if test="payerBankCardNo != null" >
        PAYER_BANK_CARD_NO,
      </if>
      <if test="payerBankCardType != null" >
        PAYER_BANK_CARD_TYPE,
      </if>
      <if test="payerIdType != null" >
        PAYER_ID_TYPE,
      </if>
      <if test="payerId != null" >
        PAYER_ID,
      </if>
      <if test="payerBankCode != null" >
        PAYER_BANK_CODE,
      </if>
      <if test="payerSubBankCode != null" >
        PAYER_SUB_BANK_CODE,
      </if>
      <if test="currency != null" >
        CURRENCY,
      </if>
      <if test="amount != null" >
        AMOUNT,
      </if>
      <if test="fee != null" >
        FEE,
      </if>
      <if test="bizRemark != null" >
        BIZ_REMARK,
      </if>
      <if test="bizFlow != null" >
        BIZ_FLOW,
      </if>
      <if test="priority != null" >
        PRIORITY,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="creater != null" >
        CREATER,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="sendThreadName != null" >
        SEND_THREAD_NAME,
      </if>
      <if test="isSeparate != null" >
        IS_SEPARATE,
      </if>
      <if test="separateCount != null" >
        SEPARATE_COUNT,
      </if>
      <if test="spare1 != null" >
        SPARE1,
      </if>
      <if test="spare2 != null" >
        SPARE2,
      </if>
      <if test="sendNum != null" >
        SEND_NUM,
      </if>
      <if test="payerAccountNo != null" >
        PAYER_ACCOUNT_NO,
      </if>
      <if test="bizType != null" >
        BIZ_TYPE,
      </if>
      <if test="isNeedPush != null" >
        IS_NEED_PUSH,
      </if>
      <if test="tradeStatus != null" >
        TRADE_STATUS,
      </if>
      <if test="tradeResultInfo != null" >
        TRADE_RESULT_INFO,
      </if>
      <if test="tradeSuccessAmount != null" >
        TRADE_SUCCESS_AMOUNT,
      </if>
      <if test="infoCategoryCode != null" >
        INFO_CATEGORY_CODE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="reqId != null" >
        #{reqId,jdbcType=VARCHAR},
      </if>
      <if test="paySysNo != null" >
        #{paySysNo,jdbcType=VARCHAR},
      </if>
      <if test="bizSysAccountNo != null" >
        #{bizSysAccountNo,jdbcType=VARCHAR},
      </if>
      <if test="zengdaiAccountNo != null" >
        #{zengdaiAccountNo,jdbcType=VARCHAR},
      </if>
      <if test="bizSysNo != null" >
        #{bizSysNo,jdbcType=VARCHAR},
      </if>
      <if test="receiverAccountNo != null" >
        #{receiverAccountNo,jdbcType=VARCHAR},
      </if>
      <if test="reveiverAccountName != null" >
        #{reveiverAccountName,jdbcType=VARCHAR},
      </if>
      <if test="payerName != null" >
        #{payerName,jdbcType=VARCHAR},
      </if>
      <if test="payerBankCardNo != null" >
        #{payerBankCardNo,jdbcType=VARCHAR},
      </if>
      <if test="payerBankCardType != null" >
        #{payerBankCardType,jdbcType=VARCHAR},
      </if>
      <if test="payerIdType != null" >
        #{payerIdType,jdbcType=VARCHAR},
      </if>
      <if test="payerId != null" >
        #{payerId,jdbcType=VARCHAR},
      </if>
      <if test="payerBankCode != null" >
        #{payerBankCode,jdbcType=VARCHAR},
      </if>
      <if test="payerSubBankCode != null" >
        #{payerSubBankCode,jdbcType=VARCHAR},
      </if>
      <if test="currency != null" >
        #{currency,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="fee != null" >
        #{fee,jdbcType=DECIMAL},
      </if>
      <if test="bizRemark != null" >
        #{bizRemark,jdbcType=VARCHAR},
      </if>
      <if test="bizFlow != null" >
        #{bizFlow,jdbcType=VARCHAR},
      </if>
      <if test="priority != null" >
        #{priority,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sendThreadName != null" >
        #{sendThreadName,jdbcType=VARCHAR},
      </if>
      <if test="isSeparate != null" >
        #{isSeparate,jdbcType=DECIMAL},
      </if>
      <if test="separateCount != null" >
        #{separateCount,jdbcType=DECIMAL},
      </if>
      <if test="spare1 != null" >
        #{spare1,jdbcType=VARCHAR},
      </if>
      <if test="spare2 != null" >
        #{spare2,jdbcType=VARCHAR},
      </if>
      <if test="sendNum != null" >
        #{sendNum,jdbcType=DECIMAL},
      </if>
      <if test="payerAccountNo != null" >
        #{payerAccountNo,jdbcType=VARCHAR},
      </if>
      <if test="bizType != null" >
        #{bizType,jdbcType=VARCHAR},
      </if>
      <if test="isNeedPush != null" >
        #{isNeedPush,jdbcType=DECIMAL},
      </if>
      <if test="tradeStatus != null" >
        #{tradeStatus,jdbcType=VARCHAR},
      </if>
      <if test="tradeResultInfo != null" >
        #{tradeResultInfo,jdbcType=VARCHAR},
      </if>
      <if test="tradeSuccessAmount != null" >
        #{tradeSuccessAmount,jdbcType=DECIMAL},
      </if>
      <if test="infoCategoryCode != null" >
        #{infoCategoryCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <select id="getTaskList" resultMap="BaseResultMap">
  	select * from TPP_TRADE_T_COLLECT_TASK
  </select>
  
  <sql id="Task_Column_List" >
    ID,REQ_ID,PAY_SYS_NO,BIZ_SYS_ACCOUNT_NO,ZENGDAI_ACCOUNT_NO,BIZ_SYS_NO,RECEIVER_ACCOUNT_NO,REVEIVER_ACCOUNT_NAME,PAYER_NAME,PAYER_BANK_CARD_NO,PAYER_BANK_CARD_TYPE,PAYER_ID_TYPE,PAYER_ID,PAYER_BANK_CODE,PAYER_SUB_BANK_CODE,CURRENCY,AMOUNT,FEE,BIZ_REMARK,BIZ_FLOW,PRIORITY,STATUS,REMARK,CREATER,CREATE_TIME,UPDATE_TIME,SEND_THREAD_NAME,IS_SEPARATE,SEPARATE_COUNT,SPARE1,SPARE2,SEND_NUM,PAYER_ACCOUNT_NO,BIZ_TYPE,IS_NEED_PUSH,TRADE_STATUS,TRADE_RESULT_INFO,TRADE_SUCCESS_AMOUNT,INFO_CATEGORY_CODE,IS_NEED_SPILT,PAYER_MOBILE
  </sql>
  
  <!--用于模糊查询-->
     <select id="select_tppTradeTCollectTaskList"  resultType="java.util.HashMap">
     SELECT * FROM (
		SELECT X.*,ROWNUM RN, 
		(select app_name from tpp_sys_app where tpp_sys_app.app_code=x.biz_sys_no) APP_NAME, 
		(select DIC_NAME from dd_t_dictionary t where t.dic_type='3' and t.dic_code=X.pay_sys_no) pay_sys_name, 
		(select bank_name from dd_t_bank_info t where t.bank_code=x.PAYER_BANK_CODE) payer_bank_name,
		(select INFO_CATEGORY_NAME from TPP_SYS_T_INFO_CATEGORY t where t.INFO_CATEGORY_CODE=x.INFO_CATEGORY_CODE) INFO_CATEGORY_NAME 
		 FROM (
		select * from (
          SELECT    <include refid="Task_Column_List" />
		  FROM TPP_TRADE_T_COLLECT_TASK 
		  union all select <include refid="Task_Column_List" /> from TPP_TRADE_T_COLLECT_TASK_HIS 
		  ) 
		  WHERE 1=1  
		    <if test="SEARCH_BEGIN_DATE != null and SEARCH_BEGIN_DATE != ''">
		    	and create_time >= to_date(#{SEARCH_BEGIN_DATE},'yyyy-mm-dd hh24:mi:ss') 
		    </if>
		    <if test="SEARCH_END_DATE != null and SEARCH_END_DATE != ''">
		    	and create_time <![CDATA[<=]]> to_date(#{SEARCH_END_DATE},'yyyy-mm-dd hh24:mi:ss')
		    </if>
		    <if test="SEARCH_BIZ_SYS_NO != null and SEARCH_BIZ_SYS_NO != ''">
		    	and BIZ_SYS_NO = #{SEARCH_BIZ_SYS_NO}
		    </if>
		    <if test="SEARCH_PAY_SYS_NO != null and SEARCH_PAY_SYS_NO != ''">
		    	and PAY_SYS_NO = #{SEARCH_PAY_SYS_NO}
		    </if>
		    <if test="SEARCH_SEND_STATUS != null and SEARCH_SEND_STATUS != ''">
		    	and STATUS = #{SEARCH_SEND_STATUS}
		    </if>
		    <if test="SEARCH_TRADE_STATUS != null and SEARCH_TRADE_STATUS != ''">
		    	and TRADE_STATUS = #{SEARCH_TRADE_STATUS}
		    </if>
		    <if test="SEARCH_BIZ_FLOW != null and SEARCH_BIZ_FLOW != ''">
		    	and BIZ_FLOW = #{SEARCH_BIZ_FLOW}
		    </if>
		    <if test="SEARCH_PAYER_INFO != null and SEARCH_PAYER_INFO != ''">
		    	and (PAYER_NAME = #{SEARCH_PAYER_INFO}
		    	or PAYER_BANK_CARD_NO = #{SEARCH_PAYER_INFO}
		    	or PAYER_ID = #{SEARCH_PAYER_INFO}
		    	or payer_mobile = #{SEARCH_PAYER_INFO}
		    	)
		    </if>
		    <if test="SEARCH_REQID != null and SEARCH_REQID != ''">
		    	and req_id = #{SEARCH_REQID}
		    </if>
		    <if test="SEARCH_BIZ_TYPE != null and SEARCH_BIZ_TYPE != ''">
		    	and BIZ_TYPE= #{SEARCH_BIZ_TYPE}
		    </if>
		    <if test="SEARCH_ID != null and SEARCH_ID != ''">
		    	and id = #{SEARCH_ID}
		    </if>
		    <if test="SEARCH_INFO_CATEGORY != null and SEARCH_INFO_CATEGORY != ''">
		    	and INFO_CATEGORY_CODE = #{SEARCH_INFO_CATEGORY}
		    </if>
		     <if test="SEARCH_BANK_CODE != null and SEARCH_BANK_CODE != ''">
		    	and PAYER_BANK_CODE = #{SEARCH_BANK_CODE}
		    </if>
		    <if test="APPIDS != null and APPIDS != ''">
		    	and biz_sys_no in 
		    	<foreach item="item" index="index" collection="APPIDS" 
                         open="(" separator="," close=")">
                        #{item}
                </foreach>
		    </if>
		  	<if test="orderStr != null">
		  	 	 ${orderStr} 
		  	</if>
		  <![CDATA[
			 ) X WHERE ROWNUM  <= #{rowEnd}
			) WHERE RN >= #{rowBegin}
		]]>
     </select>

     <!--用于查询总数-->
     <select id="select_tppTradeTCollectTaskList_count"  resultType="int">
			select count(ID) from (SELECT  * 
		    FROM (SELECT    <include refid="Task_Column_List" />
		  FROM TPP_TRADE_T_COLLECT_TASK 
		  union all select <include refid="Task_Column_List" /> from TPP_TRADE_T_COLLECT_TASK_HIS 
			    )
			    WHERE 1=1 
			    <if test="SEARCH_BEGIN_DATE != null and SEARCH_BEGIN_DATE != ''">
			    	and create_time >= to_date(#{SEARCH_BEGIN_DATE},'yyyy-mm-dd hh24:mi:ss') 
			    </if>
			    <if test="SEARCH_END_DATE != null and SEARCH_END_DATE != ''">
			    	and create_time <![CDATA[<=]]> to_date(#{SEARCH_END_DATE},'yyyy-mm-dd hh24:mi:ss')
			    </if>
			    <if test="SEARCH_BIZ_SYS_NO != null and SEARCH_BIZ_SYS_NO != ''">
			    	and BIZ_SYS_NO = #{SEARCH_BIZ_SYS_NO}
			    </if>
			    <if test="SEARCH_PAY_SYS_NO != null and SEARCH_PAY_SYS_NO != ''">
			    	and PAY_SYS_NO = #{SEARCH_PAY_SYS_NO}
			    </if>
			    <if test="SEARCH_SEND_STATUS != null and SEARCH_SEND_STATUS != ''">
			    	and STATUS = #{SEARCH_SEND_STATUS}
			    </if>
			    <if test="SEARCH_TRADE_STATUS != null and SEARCH_TRADE_STATUS != ''">
			    	and TRADE_STATUS = #{SEARCH_TRADE_STATUS}
			    </if>
			    <if test="SEARCH_BIZ_FLOW != null and SEARCH_BIZ_FLOW != ''">
			    	and BIZ_FLOW = #{SEARCH_BIZ_FLOW}
			    </if>
			    <if test="SEARCH_PAYER_INFO != null and SEARCH_PAYER_INFO != ''">
			    	and (PAYER_NAME = #{SEARCH_PAYER_INFO}
			    	or PAYER_BANK_CARD_NO = #{SEARCH_PAYER_INFO}
			    	or PAYER_ID = #{SEARCH_PAYER_INFO}
			    	or payer_mobile = #{SEARCH_PAYER_INFO}
			    	)
			    </if>
			    <if test="SEARCH_REQID != null and SEARCH_REQID != ''">
			    	and req_id = #{SEARCH_REQID}
			    </if>
			    <if test="SEARCH_BIZ_TYPE != null and SEARCH_BIZ_TYPE != ''">
			    	and BIZ_TYPE= #{SEARCH_BIZ_TYPE}
			    </if>
			    <if test="SEARCH_ID != null and SEARCH_ID != ''">
			    	and id = #{SEARCH_ID}
			    </if>
			    <if test="SEARCH_INFO_CATEGORY != null and SEARCH_INFO_CATEGORY != ''">
			    	and INFO_CATEGORY_CODE = #{SEARCH_INFO_CATEGORY}
			    </if>
			    <if test="SEARCH_BANK_CODE != null and SEARCH_BANK_CODE != ''">
			    	and PAYER_BANK_CODE = #{SEARCH_BANK_CODE}
			    </if>
			    <if test="APPIDS != null and APPIDS != ''">
			    	and biz_sys_no in 
			    	<foreach item="item" index="index" collection="APPIDS" 
	                         open="(" separator="," close=")">
	                        #{item}
	                </foreach>
			    </if>
			    )
	 </select>
	 <select id="select_summary" resultType="java.util.HashMap">
	 select count(ID) totalSum,sum(AMOUNT) totalAmount,sum(TRADE_SUCCESS_AMOUNT) successAmount from (SELECT  * 
		    FROM (SELECT    <include refid="Task_Column_List" />
		  FROM TPP_TRADE_T_COLLECT_TASK 
		  union all select <include refid="Task_Column_List" /> from TPP_TRADE_T_COLLECT_TASK_HIS 
			    )
			    WHERE 1=1 
			    <if test="SEARCH_BEGIN_DATE != null and SEARCH_BEGIN_DATE != ''">
			    	and create_time >= to_date(#{SEARCH_BEGIN_DATE},'yyyy-mm-dd hh24:mi:ss') 
			    </if>
			    <if test="SEARCH_END_DATE != null and SEARCH_END_DATE != ''">
			    	and create_time <![CDATA[<=]]> to_date(#{SEARCH_END_DATE},'yyyy-mm-dd hh24:mi:ss')
			    </if>
			    <if test="SEARCH_BIZ_SYS_NO != null and SEARCH_BIZ_SYS_NO != ''">
			    	and BIZ_SYS_NO = #{SEARCH_BIZ_SYS_NO}
			    </if>
			    <if test="SEARCH_PAY_SYS_NO != null and SEARCH_PAY_SYS_NO != ''">
			    	and PAY_SYS_NO = #{SEARCH_PAY_SYS_NO}
			    </if>
			    <if test="SEARCH_SEND_STATUS != null and SEARCH_SEND_STATUS != ''">
			    	and STATUS = #{SEARCH_SEND_STATUS}
			    </if>
			    <if test="SEARCH_TRADE_STATUS != null and SEARCH_TRADE_STATUS != ''">
			    	and TRADE_STATUS = #{SEARCH_TRADE_STATUS}
			    </if>
			    <if test="SEARCH_BIZ_FLOW != null and SEARCH_BIZ_FLOW != ''">
			    	and BIZ_FLOW = #{SEARCH_BIZ_FLOW}
			    </if>
			    <if test="SEARCH_PAYER_INFO != null and SEARCH_PAYER_INFO != ''">
			    	and (PAYER_NAME = #{SEARCH_PAYER_INFO}
			    	or PAYER_BANK_CARD_NO = #{SEARCH_PAYER_INFO}
			    	or PAYER_ID = #{SEARCH_PAYER_INFO}
			    	or payer_mobile = #{SEARCH_PAYER_INFO}
			    	)
			    </if>
			    <if test="SEARCH_REQID != null and SEARCH_REQID != ''">
			    	and req_id = #{SEARCH_REQID}
			    </if>
			    <if test="SEARCH_BIZ_TYPE != null and SEARCH_BIZ_TYPE != ''">
			    	and BIZ_TYPE= #{SEARCH_BIZ_TYPE}
			    </if>
			    <if test="SEARCH_ID != null and SEARCH_ID != ''">
			    	and id = #{SEARCH_ID}
			    </if>
			    <if test="SEARCH_INFO_CATEGORY != null and SEARCH_INFO_CATEGORY != ''">
			    	and INFO_CATEGORY_CODE = #{SEARCH_INFO_CATEGORY}
			    </if>
			     <if test="SEARCH_BANK_CODE != null and SEARCH_BANK_CODE != ''">
			    	and PAYER_BANK_CODE = #{SEARCH_BANK_CODE}
			    </if>	
   			    <if test="APPIDS != null and APPIDS != ''">
			    	and biz_sys_no in 
			    	<foreach item="item" index="index" collection="APPIDS" 
	                         open="(" separator="," close=")">
	                        #{item}
	                </foreach>
			    </if>
			    )
	 </select>
	 <select id="select_success_count" resultType="int">
	 	select count(ID) from (SELECT  * 
		    FROM (SELECT    <include refid="Task_Column_List" />
		  FROM TPP_TRADE_T_COLLECT_TASK 
		  union all select <include refid="Task_Column_List" /> from TPP_TRADE_T_COLLECT_TASK_HIS 
			    )
			    WHERE 1=1 and TRADE_STATUS = '000000'
			    <if test="SEARCH_BEGIN_DATE != null and SEARCH_BEGIN_DATE != ''">
			    	and create_time >= to_date(#{SEARCH_BEGIN_DATE},'yyyy-mm-dd hh24:mi:ss') 
			    </if>
			    <if test="SEARCH_END_DATE != null and SEARCH_END_DATE != ''">
			    	and create_time <![CDATA[<=]]> to_date(#{SEARCH_END_DATE},'yyyy-mm-dd hh24:mi:ss')
			    </if>
			    <if test="SEARCH_BIZ_SYS_NO != null and SEARCH_BIZ_SYS_NO != ''">
			    	and BIZ_SYS_NO = #{SEARCH_BIZ_SYS_NO}
			    </if>
			    <if test="SEARCH_PAY_SYS_NO != null and SEARCH_PAY_SYS_NO != ''">
			    	and PAY_SYS_NO = #{SEARCH_PAY_SYS_NO}
			    </if>
			    <if test="SEARCH_SEND_STATUS != null and SEARCH_SEND_STATUS != ''">
			    	and STATUS = #{SEARCH_SEND_STATUS}
			    </if>
			    <if test="SEARCH_TRADE_STATUS != null and SEARCH_TRADE_STATUS != ''">
			    	and TRADE_STATUS = #{SEARCH_TRADE_STATUS}
			    </if>
			    <if test="SEARCH_BIZ_FLOW != null and SEARCH_BIZ_FLOW != ''">
			    	and BIZ_FLOW = #{SEARCH_BIZ_FLOW}
			    </if>
			    <if test="SEARCH_PAYER_INFO != null and SEARCH_PAYER_INFO != ''">
			    	and (PAYER_NAME = #{SEARCH_PAYER_INFO}
			    	or PAYER_BANK_CARD_NO = #{SEARCH_PAYER_INFO}
			    	or PAYER_ID = #{SEARCH_PAYER_INFO}
			    	or payer_mobile = #{SEARCH_PAYER_INFO}
			    	)
			    </if>
			    <if test="SEARCH_REQID != null and SEARCH_REQID != ''">
			    	and req_id = #{SEARCH_REQID}
			    </if>
			    <if test="SEARCH_BIZ_TYPE != null and SEARCH_BIZ_TYPE != ''">
			    	and BIZ_TYPE= #{SEARCH_BIZ_TYPE}
			    </if>
			    <if test="SEARCH_ID != null and SEARCH_ID != ''">
			    	and id = #{SEARCH_ID}
			    </if>
			    <if test="SEARCH_INFO_CATEGORY != null and SEARCH_INFO_CATEGORY != ''">
			    	and INFO_CATEGORY_CODE = #{SEARCH_INFO_CATEGORY}
			    </if>
			     <if test="SEARCH_BANK_CODE != null and SEARCH_BANK_CODE != ''">
			    	and PAYER_BANK_CODE = #{SEARCH_BANK_CODE}
			    </if>	
			    <if test="APPIDS != null and APPIDS != ''">
			    	and biz_sys_no in 
			    	<foreach item="item" index="index" collection="APPIDS" 
	                         open="(" separator="," close=")">
	                        #{item}
	                </foreach>
			    </if>
			    )
	 </select>
	 <select id="select_sysAppList" resultType="java.util.HashMap">
	 	select * from tpp_sys_app
	 </select>
</mapper>