<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zdmoney.manager.mapper.TppTradeTPayInfoMapper" >
  <resultMap id="BaseResultMap" type="com.zdmoney.manager.models.TppTradeTPayInfo" >
    <result column="ID" property="id" jdbcType="DECIMAL" />
    <result column="TASK_ID" property="taskId" jdbcType="DECIMAL" />
    <result column="REQ_ID" property="reqId" jdbcType="VARCHAR" />
    <result column="PAY_SYS_NO" property="paySysNo" jdbcType="VARCHAR" />
    <result column="BIZ_SYS_ACCOUNT_NO" property="bizSysAccountNo" jdbcType="VARCHAR" />
    <result column="ZENGDAI_ACCOUNT_NO" property="zengdaiAccountNo" jdbcType="VARCHAR" />
    <result column="BIZ_SYS_NO" property="bizSysNo" jdbcType="VARCHAR" />
    <result column="PAYER_ACCOUNT_NO" property="payerAccountNo" jdbcType="VARCHAR" />
    <result column="PAYER_ACCOUNT_NAME" property="payerAccountName" jdbcType="VARCHAR" />
    <result column="RECEIVER_NAME" property="receiverName" jdbcType="VARCHAR" />
    <result column="RECEIVER_BANK_CARD_NO" property="receiverBankCardNo" jdbcType="VARCHAR" />
    <result column="RECEIVER_BANK_CARD_TYPE" property="receiverBankCardType" jdbcType="VARCHAR" />
    <result column="RECEIVER_ID_TYPE" property="receiverIdType" jdbcType="VARCHAR" />
    <result column="RECEIVER_ID" property="receiverId" jdbcType="VARCHAR" />
    <result column="RECEIVER_BANK_CODE" property="receiverBankCode" jdbcType="VARCHAR" />
    <result column="RECEIVER_SUB_BANK_CODE" property="receiverSubBankCode" jdbcType="VARCHAR" />
    <result column="CURRENCY" property="currency" jdbcType="VARCHAR" />
    <result column="AMOUNT" property="amount" jdbcType="DECIMAL" />
    <result column="FEE" property="fee" jdbcType="DECIMAL" />
    <result column="BIZ_REMARK" property="bizRemark" jdbcType="VARCHAR" />
    <result column="BIZ_FLOW" property="bizFlow" jdbcType="VARCHAR" />
    <result column="TRANSFER_FLOW" property="transferFlow" jdbcType="VARCHAR" />
    <result column="PAY_TRANS_FLOW" property="payTransFlow" jdbcType="VARCHAR" />
    <result column="PRIORITY" property="priority" jdbcType="DECIMAL" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="CREATER" property="creater" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="SPARE1" property="spare1" jdbcType="VARCHAR" />
    <result column="SPARE2" property="spare2" jdbcType="VARCHAR" />
    <result column="TRADE_FLOW" property="tradeFlow" jdbcType="VARCHAR" />
    <result column="FAIL_REASON" property="failReason" jdbcType="VARCHAR" />
    <result column="RECEIVER_ACCOUNT_NO" property="receiverAccountNo" jdbcType="VARCHAR" />
    <result column="BIZ_TYPE" property="bizType" jdbcType="VARCHAR" />
    <result column="IS_NEED_PUSH" property="isNeedPush" jdbcType="DECIMAL" />
    <result column="INFO_CATEGORY_CODE" property="infoCategoryCode" jdbcType="VARCHAR" />
    <result column="TRANS_REP_CODE" property="transRepCode" jdbcType="VARCHAR" />
    <result column="RECEIVER_TYPE" property="receiverType" jdbcType="VARCHAR" />
    
  </resultMap>
  <insert id="insert" parameterType="com.zdmoney.manager.models.TppTradeTPayInfo" >
    insert into TPP_TRADE_T_PAY_INFO (ID, TASK_ID, REQ_ID, 
      PAY_SYS_NO, BIZ_SYS_ACCOUNT_NO, ZENGDAI_ACCOUNT_NO, 
      BIZ_SYS_NO, PAYER_ACCOUNT_NO, PAYER_ACCOUNT_NAME, 
      RECEIVER_NAME, RECEIVER_BANK_CARD_NO, RECEIVER_BANK_CARD_TYPE, 
      RECEIVER_ID_TYPE, RECEIVER_ID, RECEIVER_BANK_CODE, 
      RECEIVER_SUB_BANK_CODE, CURRENCY, AMOUNT, 
      FEE, BIZ_REMARK, BIZ_FLOW, 
      TRANSFER_FLOW, PAY_TRANS_FLOW, PRIORITY, 
      STATUS, REMARK, CREATER, 
      CREATE_TIME, UPDATE_TIME, SPARE1, 
      SPARE2, TRADE_FLOW, FAIL_REASON, 
      RECEIVER_ACCOUNT_NO, BIZ_TYPE, IS_NEED_PUSH, 
      INFO_CATEGORY_CODE, TRANS_REP_CODE, RECEIVER_TYPE)
    values (#{id,jdbcType=DECIMAL}, #{taskId,jdbcType=DECIMAL}, #{reqId,jdbcType=VARCHAR}, 
      #{paySysNo,jdbcType=VARCHAR}, #{bizSysAccountNo,jdbcType=VARCHAR}, #{zengdaiAccountNo,jdbcType=VARCHAR}, 
      #{bizSysNo,jdbcType=VARCHAR}, #{payerAccountNo,jdbcType=VARCHAR}, #{payerAccountName,jdbcType=VARCHAR}, 
      #{receiverName,jdbcType=VARCHAR}, #{receiverBankCardNo,jdbcType=VARCHAR}, #{receiverBankCardType,jdbcType=VARCHAR}, 
      #{receiverIdType,jdbcType=VARCHAR}, #{receiverId,jdbcType=VARCHAR}, #{receiverBankCode,jdbcType=VARCHAR}, 
      #{receiverSubBankCode,jdbcType=VARCHAR}, #{currency,jdbcType=VARCHAR}, #{amount,jdbcType=DECIMAL}, 
      #{fee,jdbcType=DECIMAL}, #{bizRemark,jdbcType=VARCHAR}, #{bizFlow,jdbcType=VARCHAR}, 
      #{transferFlow,jdbcType=VARCHAR}, #{payTransFlow,jdbcType=VARCHAR}, #{priority,jdbcType=DECIMAL}, 
      #{status,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{creater,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{spare1,jdbcType=VARCHAR}, 
      #{spare2,jdbcType=VARCHAR}, #{tradeFlow,jdbcType=VARCHAR}, #{failReason,jdbcType=VARCHAR}, 
      #{receiverAccountNo,jdbcType=VARCHAR}, #{bizType,jdbcType=VARCHAR}, #{isNeedPush,jdbcType=DECIMAL}, 
      #{infoCategoryCode,jdbcType=VARCHAR}, #{transRepCode,jdbcType=VARCHAR}, #{receiver,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zdmoney.manager.models.TppTradeTPayInfo" >
    insert into TPP_TRADE_T_PAY_INFO
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="taskId != null" >
        TASK_ID,
      </if>
      <if test="reqId != null" >
        REQ_ID,
      </if>
      <if test="paySysNo != null" >
        PAY_SYS_NO,
      </if>
      <if test="bizSysAccountNo != null" >
        BIZ_SYS_ACCOUNT_NO,
      </if>
      <if test="zengdaiAccountNo != null" >
        ZENGDAI_ACCOUNT_NO,
      </if>
      <if test="bizSysNo != null" >
        BIZ_SYS_NO,
      </if>
      <if test="payerAccountNo != null" >
        PAYER_ACCOUNT_NO,
      </if>
      <if test="payerAccountName != null" >
        PAYER_ACCOUNT_NAME,
      </if>
      <if test="receiverName != null" >
        RECEIVER_NAME,
      </if>
      <if test="receiverBankCardNo != null" >
        RECEIVER_BANK_CARD_NO,
      </if>
      <if test="receiverBankCardType != null" >
        RECEIVER_BANK_CARD_TYPE,
      </if>
      <if test="receiverIdType != null" >
        RECEIVER_ID_TYPE,
      </if>
      <if test="receiverId != null" >
        RECEIVER_ID,
      </if>
      <if test="receiverBankCode != null" >
        RECEIVER_BANK_CODE,
      </if>
      <if test="receiverSubBankCode != null" >
        RECEIVER_SUB_BANK_CODE,
      </if>
      <if test="currency != null" >
        CURRENCY,
      </if>
      <if test="amount != null" >
        AMOUNT,
      </if>
      <if test="fee != null" >
        FEE,
      </if>
      <if test="bizRemark != null" >
        BIZ_REMARK,
      </if>
      <if test="bizFlow != null" >
        BIZ_FLOW,
      </if>
      <if test="transferFlow != null" >
        TRANSFER_FLOW,
      </if>
      <if test="payTransFlow != null" >
        PAY_TRANS_FLOW,
      </if>
      <if test="priority != null" >
        PRIORITY,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="creater != null" >
        CREATER,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="spare1 != null" >
        SPARE1,
      </if>
      <if test="spare2 != null" >
        SPARE2,
      </if>
      <if test="tradeFlow != null" >
        TRADE_FLOW,
      </if>
      <if test="failReason != null" >
        FAIL_REASON,
      </if>
      <if test="receiverAccountNo != null" >
        RECEIVER_ACCOUNT_NO,
      </if>
      <if test="bizType != null" >
        BIZ_TYPE,
      </if>
      <if test="isNeedPush != null" >
        IS_NEED_PUSH,
      </if>
      <if test="infoCategoryCode != null" >
        INFO_CATEGORY_CODE,
      </if>
      <if test="transRepCode != null" >
        TRANS_REP_CODE,
      </if>
       <if test="receiverType != null" >
        RECEIVER_TYPE
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="taskId != null" >
        #{taskId,jdbcType=DECIMAL},
      </if>
      <if test="reqId != null" >
        #{reqId,jdbcType=VARCHAR},
      </if>
      <if test="paySysNo != null" >
        #{paySysNo,jdbcType=VARCHAR},
      </if>
      <if test="bizSysAccountNo != null" >
        #{bizSysAccountNo,jdbcType=VARCHAR},
      </if>
      <if test="zengdaiAccountNo != null" >
        #{zengdaiAccountNo,jdbcType=VARCHAR},
      </if>
      <if test="bizSysNo != null" >
        #{bizSysNo,jdbcType=VARCHAR},
      </if>
      <if test="payerAccountNo != null" >
        #{payerAccountNo,jdbcType=VARCHAR},
      </if>
      <if test="payerAccountName != null" >
        #{payerAccountName,jdbcType=VARCHAR},
      </if>
      <if test="receiverName != null" >
        #{receiverName,jdbcType=VARCHAR},
      </if>
      <if test="receiverBankCardNo != null" >
        #{receiverBankCardNo,jdbcType=VARCHAR},
      </if>
      <if test="receiverBankCardType != null" >
        #{receiverBankCardType,jdbcType=VARCHAR},
      </if>
      <if test="receiverIdType != null" >
        #{receiverIdType,jdbcType=VARCHAR},
      </if>
      <if test="receiverId != null" >
        #{receiverId,jdbcType=VARCHAR},
      </if>
      <if test="receiverBankCode != null" >
        #{receiverBankCode,jdbcType=VARCHAR},
      </if>
      <if test="receiverSubBankCode != null" >
        #{receiverSubBankCode,jdbcType=VARCHAR},
      </if>
      <if test="currency != null" >
        #{currency,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="fee != null" >
        #{fee,jdbcType=DECIMAL},
      </if>
      <if test="bizRemark != null" >
        #{bizRemark,jdbcType=VARCHAR},
      </if>
      <if test="bizFlow != null" >
        #{bizFlow,jdbcType=VARCHAR},
      </if>
      <if test="transferFlow != null" >
        #{transferFlow,jdbcType=VARCHAR},
      </if>
      <if test="payTransFlow != null" >
        #{payTransFlow,jdbcType=VARCHAR},
      </if>
      <if test="priority != null" >
        #{priority,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="spare1 != null" >
        #{spare1,jdbcType=VARCHAR},
      </if>
      <if test="spare2 != null" >
        #{spare2,jdbcType=VARCHAR},
      </if>
      <if test="tradeFlow != null" >
        #{tradeFlow,jdbcType=VARCHAR},
      </if>
      <if test="failReason != null" >
        #{failReason,jdbcType=VARCHAR},
      </if>
      <if test="receiverAccountNo != null" >
        #{receiverAccountNo,jdbcType=VARCHAR},
      </if>
      <if test="bizType != null" >
        #{bizType,jdbcType=VARCHAR},
      </if>
      <if test="isNeedPush != null" >
        #{isNeedPush,jdbcType=DECIMAL},
      </if>
      <if test="infoCategoryCode != null" >
        #{infoCategoryCode,jdbcType=VARCHAR},
      </if>
      <if test="transRepCode != null" >
        #{transRepCode,jdbcType=VARCHAR},
      </if>
       <if test="receiverType != null" >
        #{receiverType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="getInfoList"  resultMap="BaseResultMap">
  	select * from TPP_TRADE_T_PAY_INFO ORDER BY CREATE_TIME DESC nulls last
  </select>
  
  	<sql id="Pay_task_info_column">
  	  ID, TASK_ID, REQ_ID, 
      PAY_SYS_NO, BIZ_SYS_ACCOUNT_NO, ZENGDAI_ACCOUNT_NO, 
      BIZ_SYS_NO, PAYER_ACCOUNT_NO, PAYER_ACCOUNT_NAME, 
      RECEIVER_NAME, RECEIVER_BANK_CARD_NO, RECEIVER_BANK_CARD_TYPE, 
      RECEIVER_ID_TYPE, RECEIVER_ID, RECEIVER_BANK_CODE, 
      RECEIVER_SUB_BANK_CODE, CURRENCY, AMOUNT, 
      FEE, BIZ_REMARK, BIZ_FLOW,  PAY_TRANS_FLOW, PRIORITY, 
      STATUS, REMARK, CREATER, 
      CREATE_TIME, UPDATE_TIME, SPARE1, 
      SPARE2, TRADE_FLOW, FAIL_REASON, 
      RECEIVER_ACCOUNT_NO, BIZ_TYPE, IS_NEED_PUSH, 
      INFO_CATEGORY_CODE, TRANS_REP_CODE, RECEIVER_TYPE
    </sql>
  	 <!--用于模糊查询-->
     <select id="select_tppTradeTPayInfoList"  resultType="java.util.HashMap">
      SELECT * FROM (
		SELECT X.*,ROWNUM RN, 
		(select app_name from tpp_sys_app where tpp_sys_app.app_code=x.biz_sys_no) APP_NAME, 
		(select DIC_NAME from dd_t_dictionary t where t.dic_type='3' and t.dic_code=X.pay_sys_no) PAY_SYS_NAME,
		(select app_name from tpp_sys_app where tpp_sys_app.app_code=x.biz_sys_no) BIZ_SYS_NAME,
		(select INFO_CATEGORY_NAME from TPP_SYS_T_INFO_CATEGORY t where t.INFO_CATEGORY_CODE=x.INFO_CATEGORY_CODE) INFO_CATEGORY_NAME FROM (
		  select * from (
          SELECT    <include refid="Pay_task_info_column" />
		  FROM TPP_TRADE_T_PAY_INFO 
		  union all select <include refid="Pay_task_info_column" /> from TPP_TRADE_T_PAY_INFO_HIS )
		  WHERE 1=1 
		    <if test="taskId != null and taskId != ''">
		        and TASK_ID = #{taskId} 
		    </if> 
		    <if test="SEARCH_PAY_SYS_NO != null and SEARCH_PAY_SYS_NO != ''">
		    	and PAY_SYS_NO = #{SEARCH_PAY_SYS_NO} 
		    </if> 
		    <if test="SEARCH_BIZ_SYS_NO != null and SEARCH_BIZ_SYS_NO != ''">
		    	and BIZ_SYS_NO = #{SEARCH_BIZ_SYS_NO} 
		    </if> 
		    <if test="SEARCH_FLOW != null and SEARCH_FLOW != ''">
		    	and (BIZ_FLOW = #{SEARCH_FLOW} 
		    	or TRADE_FLOW = #{SEARCH_FLOW} 
		    	)
		    </if>
		    <if test="SEARCH_TRADE_STATUS != null and SEARCH_TRADE_STATUS != ''">
		    	and STATUS = #{SEARCH_TRADE_STATUS} 
		    </if>
		    <if test="SEARCH_BIZ_TYPE != null and SEARCH_BIZ_TYPE != ''">
		    	and BIZ_TYPE = #{SEARCH_BIZ_TYPE} 
		    </if>
		    <if test="SEARCH_RECEIVER_INFO != null and SEARCH_RECEIVER_INFO != ''">
		    	and (RECEIVER_NAME = #{SEARCH_RECEIVER_INFO} 
		    	or RECEIVER_BANK_CARD_NO = #{SEARCH_RECEIVER_INFO} 
		    	or RECEIVER_ID = #{SEARCH_RECEIVER_INFO} 
		    	)
		    </if>
		    <if test="SEARCH_NOTIFY_QUERY_STATUS != null and SEARCH_NOTIFY_QUERY_STATUS != ''">
		    	and NOTIFY_QUERY_STATUS = #{SEARCH_NOTIFY_QUERY_STATUS} 
		    </if>
		    <if test="SEARCH_NOTIFY_MERGE_STATUS != null and SEARCH_NOTIFY_MERGE_STATUS != ''">
		    	and NOTIFY_MERGE_STATUS = #{SEARCH_NOTIFY_MERGE_STATUS} 
		    </if> 
		    <if test="SEARCH_DATE_TYPE != null and SEARCH_DATE_TYPE != ''">
		    	<if test="SEARCH_DATE_TYPE == 'CREATE_TIME'">
				    <if test="SEARCH_BEGIN_DATE != null and SEARCH_BEGIN_DATE != ''">
				    	and CREATE_TIME >= to_date(#{SEARCH_BEGIN_DATE},'yyyy-mm-dd hh24:mi:ss') 
				    </if>
				    <if test="SEARCH_END_DATE != null and SEARCH_END_DATE != ''">
				    	and CREATE_TIME <![CDATA[<=]]> to_date(#{SEARCH_END_DATE},'yyyy-mm-dd hh24:mi:ss') 
				    </if>
				</if>
				<if test="SEARCH_DATE_TYPE == 'THIRD_RETURN_TIME'">
					<if test="SEARCH_BEGIN_DATE != null and SEARCH_BEGIN_DATE != ''">
				    	and THIRD_RETURN_TIME >= to_date(#{SEARCH_BEGIN_DATE},'yyyy-mm-dd hh24:mi:ss') 
				    </if>
				    <if test="SEARCH_END_DATE != null and SEARCH_END_DATE != ''">
				    	and THIRD_RETURN_TIME <![CDATA[<=]]> to_date(#{SEARCH_END_DATE},'yyyy-mm-dd hh24:mi:ss') 
				    </if>
				</if>
		    </if>
		    <if test="SEARCH_ID != null and SEARCH_ID != ''">
		    	and ID = #{SEARCH_ID} 
		    </if>
		    <if test="SEARCH_SETTLE_DATE != null and SEARCH_SETTLE_DATE != ''">
		    	and SETTLE_DATE = #{SEARCH_SETTLE_DATE}  
		    </if>
		    <if test="SEARCH_RECEIVER_TYPE != null and SEARCH_RECEIVER_TYPE != ''">
		    	and RECEIVER_TYPE = #{SEARCH_RECEIVER_TYPE} 
		    </if>
		     <if test="SEARCH_BANK_CODE != null and SEARCH_BANK_CODE != ''">
		    	and RECEIVER_BANK_CODE = #{SEARCH_BANK_CODE}
		    </if>
		  	<if test="orderStr != null">
		  	 	 ${orderStr}, CREATE_TIME DESC nulls last
		  	</if>
		  	<if test="orderStr == null">
			  	ORDER BY CREATE_TIME DESC nulls last
		  	</if>
		<![CDATA[
			 ) X WHERE ROWNUM  <= #{rowEnd}
			) WHERE RN >= #{rowBegin} 
		]]>
     </select>
     
     <!--用于查询总数-->
     <select id="select_tppTradeTPayInfoList_count"  resultType="int">
			SELECT  count(ID) from (
			select <include refid="Pay_task_info_column"/>
		    FROM TPP_TRADE_T_PAY_INFO union all select <include refid="Pay_task_info_column"/>
		    FROM TPP_TRADE_T_PAY_INFO_HIS
		    )
			WHERE 1=1 
			<if test="taskId != null and taskId != ''">
		        and TASK_ID = #{taskId} 
		    </if> 
		    <if test="SEARCH_PAY_SYS_NO != null and SEARCH_PAY_SYS_NO != ''">
		    	and PAY_SYS_NO = #{SEARCH_PAY_SYS_NO} 
		    </if> 
		    <if test="SEARCH_BIZ_SYS_NO != null and SEARCH_BIZ_SYS_NO != ''">
		    	and BIZ_SYS_NO = #{SEARCH_BIZ_SYS_NO} 
		    </if> 
		    <if test="SEARCH_FLOW != null and SEARCH_FLOW != ''">
		    	and (BIZ_FLOW = #{SEARCH_FLOW} 
		    	or TRADE_FLOW = #{SEARCH_FLOW} 
		    	)
		    </if>
		    <if test="SEARCH_TRADE_STATUS != null and SEARCH_TRADE_STATUS != ''">
		    	and STATUS = #{SEARCH_TRADE_STATUS} 
		    </if>
		    <if test="SEARCH_BIZ_TYPE != null and SEARCH_BIZ_TYPE != ''">
		    	and BIZ_TYPE = #{SEARCH_BIZ_TYPE} 
		    </if>
		    <if test="SEARCH_RECEIVER_INFO != null and SEARCH_RECEIVER_INFO != ''">
		    	and (RECEIVER_NAME = #{SEARCH_RECEIVER_INFO} 
		    	or RECEIVER_BANK_CARD_NO = #{SEARCH_RECEIVER_INFO} 
		    	or RECEIVER_ID = #{SEARCH_RECEIVER_INFO} 
		    	)
		    </if>
		    <if test="SEARCH_NOTIFY_QUERY_STATUS != null and SEARCH_NOTIFY_QUERY_STATUS != ''">
		    	and NOTIFY_QUERY_STATUS = #{SEARCH_NOTIFY_QUERY_STATUS} 
		    </if>
		    <if test="SEARCH_NOTIFY_MERGE_STATUS != null and SEARCH_NOTIFY_MERGE_STATUS != ''">
		    	and NOTIFY_MERGE_STATUS = #{SEARCH_NOTIFY_MERGE_STATUS} 
		    </if> 
		    <if test="SEARCH_DATE_TYPE != null and SEARCH_DATE_TYPE != ''">
		    	<if test="SEARCH_DATE_TYPE == 'CREATE_TIME'">
				    <if test="SEARCH_BEGIN_DATE != null and SEARCH_BEGIN_DATE != ''">
				    	and CREATE_TIME >= to_date(#{SEARCH_BEGIN_DATE},'yyyy-mm-dd hh24:mi:ss') 
				    </if>
				    <if test="SEARCH_END_DATE != null and SEARCH_END_DATE != ''">
				    	and CREATE_TIME <![CDATA[<=]]> to_date(#{SEARCH_END_DATE},'yyyy-mm-dd hh24:mi:ss') 
				    </if>
				</if>
				<if test="SEARCH_DATE_TYPE == 'THIRD_RETURN_TIME'">
					<if test="SEARCH_BEGIN_DATE != null and SEARCH_BEGIN_DATE != ''">
				    	and THIRD_RETURN_TIME >= to_date(#{SEARCH_BEGIN_DATE},'yyyy-mm-dd hh24:mi:ss') 
				    </if>
				    <if test="SEARCH_END_DATE != null and SEARCH_END_DATE != ''">
				    	and THIRD_RETURN_TIME <![CDATA[<=]]> to_date(#{SEARCH_END_DATE},'yyyy-mm-dd hh24:mi:ss') 
				    </if>
				</if>
		    </if>
		    <if test="SEARCH_ID != null and SEARCH_ID != ''">
		    	and ID = #{SEARCH_ID} 
		    </if>
		    <if test="SEARCH_SETTLE_DATE != null and SEARCH_SETTLE_DATE != ''">
		    	and SETTLE_DATE = #{SEARCH_SETTLE_DATE}  
		    </if>
		    <if test="SEARCH_RECEIVER_TYPE != null and SEARCH_RECEIVER_TYPE != ''">
		    	and RECEIVER_TYPE = #{SEARCH_RECEIVER_TYPE} 
		    </if>
		     <if test="SEARCH_BANK_CODE != null and SEARCH_BANK_CODE != ''">
		    	and RECEIVER_BANK_CODE = #{SEARCH_BANK_CODE}
		    </if>	   
	 </select>
	 
	<sql id="pay_info_column">
  			ID,TASK_ID,REQ_ID,PAY_SYS_NO,BIZ_SYS_ACCOUNT_NO,ZENGDAI_ACCOUNT_NO,BIZ_SYS_NO,PAYER_ACCOUNT_NO,PAYER_ACCOUNT_NAME,RECEIVER_NAME,RECEIVER_BANK_CARD_NO,RECEIVER_BANK_CARD_TYPE,RECEIVER_ID_TYPE,RECEIVER_ID,RECEIVER_BANK_CODE,RECEIVER_SUB_BANK_CODE,CURRENCY,AMOUNT,FEE,BIZ_REMARK,BIZ_FLOW,PAY_TRANS_FLOW,PRIORITY,STATUS,REMARK,CREATER,CREATE_TIME,UPDATE_TIME,SPARE1,SPARE2,TRADE_FLOW,FAIL_REASON,RECEIVER_ACCOUNT_NO,BIZ_TYPE,IS_NEED_PUSH,INFO_CATEGORY_CODE,TRANS_REP_CODE,THIRD_RETURN_TIME,NOTIFY_QUERY_STATUS,NOTIFY_MERGE_STATUS,SETTLE_DATE, RECEIVER_TYPE
  	</sql>
  
	 <select id="select_summary"  resultType="java.util.HashMap">
		select count(ID) totalSum,sum(AMOUNT) totalAmount 
			from (
		 	SELECT <include refid = "pay_info_column" />
			 FROM TPP_TRADE_T_PAY_INFO union all select <include refid="pay_info_column"/> from TPP_TRADE_T_PAY_INFO_his
		  	)
		  WHERE 1=1 
		  	<if test="taskId != null and taskId != ''">
		        and TASK_ID = #{taskId}
		    </if> 
		    <if test="SEARCH_PAY_SYS_NO != null and SEARCH_PAY_SYS_NO != ''">
		    	and PAY_SYS_NO = #{SEARCH_PAY_SYS_NO}
		    </if> 
		    <if test="SEARCH_BIZ_SYS_NO != null and SEARCH_BIZ_SYS_NO != ''">
		    	and BIZ_SYS_NO = #{SEARCH_BIZ_SYS_NO}
		    </if> 
		    <if test="SEARCH_FLOW != null and SEARCH_FLOW != ''">
		    	and (BIZ_FLOW = #{SEARCH_FLOW}
		    	or TRADE_FLOW = #{SEARCH_FLOW}
		    	)
		    </if>
		    <if test="SEARCH_TRADE_STATUS != null and SEARCH_TRADE_STATUS != ''">
		    	and STATUS = #{SEARCH_TRADE_STATUS}
		    </if>
		    <if test="SEARCH_BIZ_TYPE != null and SEARCH_BIZ_TYPE != ''">
		    	and BIZ_TYPE = #{SEARCH_BIZ_TYPE}
		    </if>
		    <if test="SEARCH_RECEIVER_INFO != null and SEARCH_RECEIVER_INFO != ''">
		    	and (RECEIVER_NAME = #{SEARCH_RECEIVER_INFO}
		    	or RECEIVER_BANK_CARD_NO = #{SEARCH_RECEIVER_INFO}
		    	or RECEIVER_ID = #{SEARCH_RECEIVER_INFO}
		    	)
		    </if>
		    <if test="SEARCH_NOTIFY_QUERY_STATUS != null and SEARCH_NOTIFY_QUERY_STATUS != ''">
		    	and NOTIFY_QUERY_STATUS = #{SEARCH_NOTIFY_QUERY_STATUS}
		    </if>
		    <if test="SEARCH_NOTIFY_MERGE_STATUS != null and SEARCH_NOTIFY_MERGE_STATUS != ''">
		    	and NOTIFY_MERGE_STATUS = #{SEARCH_NOTIFY_MERGE_STATUS}
		    </if> 
		    <if test="SEARCH_DATE_TYPE != null and SEARCH_DATE_TYPE != ''">
		    	<if test="SEARCH_DATE_TYPE == 'CREATE_TIME'">
				    <if test="SEARCH_BEGIN_DATE != null and SEARCH_BEGIN_DATE != ''">
				    	and CREATE_TIME >= to_date(#{SEARCH_BEGIN_DATE},'yyyy-mm-dd hh24:mi:ss') 
				    </if>
				    <if test="SEARCH_END_DATE != null and SEARCH_END_DATE != ''">
				    	and CREATE_TIME <![CDATA[<=]]> to_date(#{SEARCH_END_DATE},'yyyy-mm-dd hh24:mi:ss')
				    </if>
				</if>
				<if test="SEARCH_DATE_TYPE == 'THIRD_RETURN_TIME'">
					<if test="SEARCH_BEGIN_DATE != null and SEARCH_BEGIN_DATE != ''">
				    	and THIRD_RETURN_TIME >= to_date(#{SEARCH_BEGIN_DATE},'yyyy-mm-dd hh24:mi:ss') 
				    </if>
				    <if test="SEARCH_END_DATE != null and SEARCH_END_DATE != ''">
				    	and THIRD_RETURN_TIME <![CDATA[<=]]> to_date(#{SEARCH_END_DATE},'yyyy-mm-dd hh24:mi:ss')
				    </if>
				</if>
		    </if>
		    <if test="APPIDS != null and APPIDS != ''">
		    	and BIZ_SYS_NO in 
		    	<foreach item="item" index="index" collection="APPIDS" 
                         open="(" separator="," close=")">
                        #{item}
                </foreach>
		    </if>
		    <if test="SEARCH_ID != null and SEARCH_ID != ''">
		    	and ID = #{SEARCH_ID}
		    </if>
		    <if test="SEARCH_SETTLE_DATE != null and SEARCH_SETTLE_DATE != ''">
		    	and SETTLE_DATE = #{SEARCH_SETTLE_DATE}
		    </if>
		     <if test="SEARCH_STATUS != null and SEARCH_STATUS != ''">
		    	and STATUS = #{SEARCH_STATUS}
		    </if>
		     <if test="SEARCH_RECEIVER_TYPE != null and SEARCH_RECEIVER_TYPE != ''">
		    	and RECEIVER_TYPE = #{SEARCH_RECEIVER_TYPE} 
		    </if>
		     <if test="SEARCH_BANK_CODE != null and SEARCH_BANK_CODE != ''">
		    	and RECEIVER_BANK_CODE = #{SEARCH_BANK_CODE}
		    </if>	
     </select>
</mapper>