<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"     
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
		xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd   
		http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
	
	<dubbo:application name="tpp-transfer" />
	<dubbo:registry protocol="zookeeper" address="${dubbo.registry.address}"/>
    <dubbo:reference id="channelService" interface="com.zendaimoney.thirdpp.channel.pub.service.IChannelService"  check="false"  retries="0" timeout="70000"/>
</beans>