@CHARSET "UTF-8";

.loading-mask{
		        position:absolute;
		        left:0;
		        top:0;
		        z-index:20000;
		        background-color:#999;
		        filter:alpha(opacity=20);  
			    -moz-opacity:0.2;  
			    -khtml-opacity: 0.2;  
			    opacity: 0.2;  
			    overflow:visible;
			    
		    }
			
	.loading{
				padding:2px;
				z-index:20001;
				height:100px;
				width: 100px;
			}